// Fonts
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

$default-font: 'Roboto', 'sans-serif';

// Font weights 
$bold: 600;
$extra-bold: 800;

// Font sizes
$fs-xs: 12px;
$fs-s: 14px;
$fs-l: 18px;
$fs-xxxxl: 320px;