.table-row {
  display: grid;
  padding: 8px 0 8px 14px;
  grid-template-columns: 10% 90%;

  &:nth-child(even) {
    background-color: $honeydew-green;
  }

  &:hover {
    background-color: $celadon-green;
  }

  .editable {
    display: grid;
    grid-template-columns: 1fr auto auto;
  }

  .editable {
    .button {
      font-weight: bold;
      padding: 8px;
      margin-right: 10px;

      &.primary {
        background-color: $celadon-green;
        color: $white;
      }

      &.cancel {
        background-color: orangered;
        color: $white;
      }
    }
  }
}
